<div class='navbar navbar-default'>
	<div class='navbar-header'>
		<img class='navbar-left' src='/images/owl.png' height=128 width=128></img>
	{{#if loggedin}}
		{{> logout_form}}
	{{else}}
		{{> login_form}}
	{{/if}}
	</div>
</div>