<div class='navbar navbar-default'>
	<form action='/login' id='login' class='navbar-form navbar-right'>
		<input type='text' name='username' placeholder='username' class='form-control' required='true'>
		<button type='submit' class='btn btn-submit btn-raised form-control'>Log In</button>
	</form>
</div>