<form action='/login' id='login-form' class='navbar-form navbar-right'>
	<input type='text' name='username' placeholder='username' class='form-control' required='true'>
	<button type='submit' class='btn btn-submit form-control'>*   Sign In   *</button>
</form>
