<div class='list-group'>
{{#each twoots}}
	<blockquote class="pull-left list-group-item" name='{{this.author.name}}'>
	    <p>{{this.text}}</p>
	    <small>{{this.author.name}}</small>
	</blockquote>
{{/each}}
</div>