<form id='twoot-form' action='/create' class='form-horizontal'>
	<legend>Twoot! #YouOnlyTwootOnce</legend>
	<textarea placeholder='Your Twoot Here' class='form-control' required='true'></textarea>
	<div class='panel-footer author-signature' name='author'>{{name}}</div>
	<button type='submit' class='btn btn-success btn-raised form-control'>Submit</button>
</form>