<div class='panel panel-default'>
<div class='panel-body'
<form id='twoot' action='/' class='form-horizontal'>
	<legend>Twoot! #YouOnlyTwootOnce</legend>
	<textarea placeholder='Your Twoot Here' class='form-control' required='true'></textarea>
	<button type='submit' class='btn form-control'>Submit</button>
	<div class='panel-footer' name='author'>{{name}}</div>
</form>
</div>
</div>