<!DOCTYPE html>
<html lang='fr'>
	<head>
	
	    <meta charset="utf-8">
	
	</head>
	<body>
	    {{{body}}}
	</body>
	{{!-- JQuery --}}
	<script src="components/jquery/dist/jquery.min.js" type='text/javascript'></script>

	{{!-- Twitter Bootstrap --}}
	<link href="components/bootstrap/dist/css/bootstrap.min.css" rel='stylesheet'>

	{{!-- Bootstrap Material Design --}}
	<link href="components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
	<link href="components/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">
	<script src='components/bootstrap-material-design/dist/js/ripples.min.js'></script>
	<script src='components/bootstrap-material-design/dist/js/material.min.js'></script>

	{{!-- Main Style Sheet --}}
	<link rel='stylesheet' type='text/css' href='stylesheets/main.css'>

	{{!-- Main Script --}}
	<script src="javascripts/main.js"></script>
</html>
