<div class='main-content'>
	{{> header}}
	<div class='twoot-col col-xs-9'>
	{{#if loggedin}}
		{{> twoot_form}}
	{{/if}}
		{{> twoot_list}}
	</div>
	<div class='user-col col-xs-3'>
		{{> user_list}}
	</div>
</div>