/*using proper french quotes*/
/*http://webdesign.tutsplus.com/articles/start-using-quotation-marks-the-correct-way--webdesign-16905*/
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before {
    content: open-quote;
}
q:after {
    content: no-close-quote;
}

html[lang="fr"] q {
  quotes: "\00ab" "\00bb";
}

/*right justified twoot author*/
.author-signature {
	text-align: right;
}

/*center justified users*/
.user-selector {
	text-align: center;
}

.main-content {
	max-width: 750px;
	margin: 0 auto;
}

.list-group .list-group-item {
	padding: 10px 15px 10px 15px;
	border-color: #333333;
}

.list-group-item-danger {
	outline-color: red;
}

img.delete-button{
	width: 1em;
	height: 1em;
}